{% load static %}<!DOCTYPE html>
<html lang="th">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}salesdee.{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'css/backoffice.css' %}">
  
  <script src="https://unpkg.com/htmx.org@2.0.2" defer></script>
  <script src="https://unpkg.com/alpinejs@3.x.x" defer></script>
</head>
<body>
{% include 'partials/_icons.svg.html' %}

<div class="outside-page">
  <div class="outside-top">
    <a href="/" class="outside-top-brand" style="text-decoration: none;">
      <div class="ic ic-48 primary"><span class="d">d</span><span class="dot"></span></div>
      <div class="wordmark">sales<em>dee</em><span class="dot"></span><span class="tld">com</span></div>
    </a>
    <div class="outside-top-right">
      {% block outside_top_right %}{% endblock %}
    </div>
  </div>

  {% block content %}{% endblock %}
</div>
</body>
</html>
